h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

li {
  margin-bottom: 10px;
}

html {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
